

.grid {
  display: grid;
  grid-template-columns: 1fr 500px;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
  ". ." 
  "paragraph_front image_Morten_Front";
  grid-gap: 10px;
padding-top: $header-thickness+10px;
}

.image_Morten_Front {
  width: 400px;
  grid-area: image_Morten_Front;
}

.paragraph_front > p {
  font-size: 15px;
  font-family: Avenir LT Std 35 Light;
  grid-area: paragraph_front;
text-align: center;
}

.paragraph_front > H1 {
  font-size: 76px;
  font-family: Avenir LT Std 35 Light;
  grid-area: paragraph_front;
text-align: center;
}

.paragraph_front > H6 {
font-family: Avenir LT Std 35 Light;
  grid-area: paragraph_front;
  font-size: 25px;
  text-align: center;
  padding-left: 150px;
}