

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
  ". ." 
  "paragraph_front image_Morten_Front";
  grid-gap: 10px;

}

.image_Morten_Front {
  height: 800px;
  grid-area: image_Morten_Front;
}

.paragraph_front {
  font-size: 15px;
  font-family: Avenir LT Std 35 Light;
  grid-area: paragraph_front;
}