* {
  height: 1080px;
  margin: 5px 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image_Morten_Front {
  grid-column: 2 / 3;
}

.paragraph_front {
  grid-columns: 1 / 2
}