




a {
	color: #323232;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.CVContainer {
	max-width: 960px;
	margin: 40px auto;
	padding: 32px;
	backgrond: white;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1)
}

section-top {
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-gap: 20px;
	padding: 24px 0;
	border-bottom: 1px solid lightgrey;

}

.cv-name {
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: #005DBA;
	font-size: 38px;
	line-height: 1;
	grid-gap: 10px;
}

section {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 20px;
	padding: 24px 0;
	border-bottom: 1px solid lightgrey;

}

section:last-child {
	border-bottom: none;
}

.section-title{
	font-weight: bold;
	font-size: 18px;
}