---
layout: default
title: Home
---

<div class = "grid">

<div class="image_Morten_Front"> 
 <img src="../assets/img/morten_krogh.ico" alt="Morten Krogh">
 </div> 

<div class="paragraph_front"> 
<p>
Hi, my name is Morten Krogh, this is my personal webpage.


<br> I am Master student in Quantitative Economics at the University of Aarhus. On this webpage I will share some of things I am working upon at the University and also sparetime projects. </br>

​

<br> You might wonder why I am building this site, this is simply due to the fact that I am very passionate about my study as well as developing nice graphs of my analysis to improve procurement of complicated information and analysis to layman. </br>

​

<br> Hope you will enjoy my webpage, otherwise leave a comment for improvements. Thank You! </br></p>

</div>

</div>




